<!-- <div>
    <input type="file" [(ngModel)]="image">
    <button (click)="getUrl()">上傳</button>
</div> -->
<!-- 
    <div *ngFor="let item of files">
        <img *ngIf="imgupload" [src]='img[files.length-1]'>
    </div>

<div class="test" 
ngfDrop
multiple         = "1"
selectable       = "1"
[(validDrag)]    = "validComboDrag"
[(files)]        = "files"
accept           = "image/*"
[maxSize]        = "maxSize"
[(lastInvalids)] = "lastInvalids"
[(dragFiles)]    = "dragFiles"
[class.invalid-drag] = "validComboDrag===false"
[class.valid-drag]   = "validComboDrag"
(filesChange) = "getUrl()"
[fileDropDisabled] = "fileDropDisabled"></div> -->

    <form action="upload" method="post" enctype="multipart/form-data">
        <input name="filePDF" type="file" (change)="fileUpload($event)" accept="application/pdf">
    </form>
    <!-- <div *ngIf="slideimage">
        <div class="imaged">
            <div *ngIf="allimages.length > 0">
                <div *ngFor="let item of allimages; let index = index">
                    <div class="imagebtn" align="right"><button mat-icon-button class="deletebtn" (click)="deleteimg(index)"><mat-icon>cancel</mat-icon></button></div>
                    <img class="previewimg" [src]="item">
                </div>
            </div> -->
            <!-- <div *ngIf="allimages.length > 1">
                <div class="imagebtn" align="right"><button mat-icon-button class="deletebtn" (click)="deleteimg(1)"><mat-icon>cancel</mat-icon></button></div>
                <img class="previewimg" [src]="allimages[1]">
            </div>
            <div *ngIf="allimages.length > 2">
                <div class="imagebtn" align="right"><button mat-icon-button class="deletebtn" (click)="deleteimg(2)"><mat-icon>cancel</mat-icon></button></div>
                <img class="previewimg" [src]="allimages[2]">
            </div> -->
        <!-- </div>
    </div> -->