<h1>履歷表</h1>
    <!-- 姓 名：<input type="text" name="name" size="20"><br><br> -->

<mat-card>
    <mat-card-actions align="end" >
        <button mat-button (click)="reviewdata()" class="btn-warn">確認</button>
    </mat-card-actions>
    <mat-card-content>
        <div>姓 氏：
            <mat-form-field floatLabel="never">
            <input matInput placeholder="請輸入您的姓氏" [(ngModel)]="familyname" maxlength="5">
            </mat-form-field>
            名 字：
            <mat-form-field floatLabel="never">
            <input matInput placeholder="請輸入您的名字" [(ngModel)]="givenname" maxlength="5">
            </mat-form-field>
        </div>
        <div>性 別：
            <mat-radio-group aria-label="Select an option" [(ngModel)]="gender">
            <mat-radio-button value="男">男</mat-radio-button>
            <mat-radio-button value="女">女</mat-radio-button>
            </mat-radio-group>
        </div>

        <div>出生年月日：
            <mat-form-field floatLabel="never">
                <input matInput [matDatepicker]="picker" placeholder="請選擇您的生日" [max]="maxDate" [min]="minDate" [(ngModel)]="brdate">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker [startAt]="startDate"></mat-datepicker>
            </mat-form-field>
        </div>

        <div>服役狀況：
            <mat-radio-group aria-label="Select an option" [(ngModel)]="service">
            <mat-radio-button value='已完成'>已完成</mat-radio-button>
            <mat-radio-button value='尚未'>尚未</mat-radio-button>
            <mat-radio-button value='無須服役'>無須服役</mat-radio-button>
            </mat-radio-group>
        </div>
        <div>行動電話：
            <mat-form-field class="phone">
                <input matInput id="phoneNum" name="phoneNum" type="tel" οninput="value=value.replace(/[^\d]/g,'')" [(ngModel)]="phonenum">
            </mat-form-field>
        </div>
        <div>Email：
            <mat-form-field floatLabel="never">
                <input matInput placeholder="Email" [(ngModel)]="email" [formControl]="emailFormControl" maxlength="100" >
                <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
                    Please enter a valid email address
                </mat-error>
                <mat-error *ngIf="emailFormControl.hasError('required')">
                    Email is <strong>required</strong>
                </mat-error>
            </mat-form-field> 
        </div>
        <div>地址： 
            <mat-form-field class="addinput" floatLabel="never">
                <input matInput placeholder="地址" [(ngModel)]="address">
            </mat-form-field>
        </div>
        
        <div>最高學歷：
            <mat-form-field  style="width: 280px" floatLabel="never">
            <input matInput placeholder="請選擇您的學校"  maxlength="25" [(ngModel)]="school">
            </mat-form-field>
            系所名稱：
            <mat-form-field floatLabel="never">
            <input matInput placeholder="請輸入您的系所名稱"  maxlength="10" [(ngModel)]="department">
            </mat-form-field>
        </div>   
    </mat-card-content>
</mat-card>
<br>
<mat-card>
    <mat-card-content>
        <div>期望薪資：
            <mat-form-field floatLabel="never">
            <input matInput placeholder="請輸入您期望之薪資待遇" maxlength="10" [(ngModel)]="money">
            </mat-form-field>
        </div>
    </mat-card-content>
</mat-card>  
<br>
<mat-card>
    <mat-card-content>
        <div>累積工作經驗：
            <mat-form-field floatLabel="never">
            <mat-label>就業年資</mat-label>
            <mat-select [(ngModel)]="workyears">
                <mat-option *ngFor="let exp of experience" [value]="exp.experience">
                    {{exp.experience}}
                </mat-option>
            </mat-select>
            </mat-form-field>
        </div>  
        <div>歷年工作職務類別：
            <mat-form-field floatLabel="never">
            <input matInput placeholder="請輸入工作類別" maxlength="10" [(ngModel)]="worktype">
            </mat-form-field>
            職務名稱：
            <mat-form-field floatLabel="never">
            <input matInput placeholder="請輸入職務名稱"maxlength="10" [(ngModel)]="workname">
            </mat-form-field>
            薪資待遇：
            <mat-form-field floatLabel="never">
            <input matInput placeholder="請輸入薪資待遇"maxlength="10" [(ngModel)]="workmoney">
            </mat-form-field>
        </div> 
    </mat-card-content>
</mat-card>
<br>
<mat-card>
    <mat-card-content>
        <div>語言程度
            <div>中文程度：
                <mat-form-field class="languageop">
                    <mat-label>聽</mat-label>
                    <mat-select [(ngModel)]="seletctcL">
                        <mat-option *ngFor="let  lan  of Language" [value]="lan.level">
                            {{lan.level}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                &nbsp;
                <mat-form-field class="languageop">
                    <mat-label>說</mat-label>
                    <mat-select [(ngModel)]="seletctcS">
                        <mat-option *ngFor="let  lan  of Language" [value]="lan.level">
                            {{lan.level}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                &nbsp;
                <mat-form-field class="languageop">
                    <mat-label>讀</mat-label>
                    <mat-select [(ngModel)]="seletctcR">
                        <mat-option *ngFor="let  lan  of Language" [value]="lan.level">
                            {{lan.level}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                &nbsp;
                <mat-form-field class="languageop">
                    <mat-label>寫</mat-label>
                    <mat-select [(ngModel)]="seletctcW">
                        <mat-option *ngFor="let  lan  of Language" [value]="lan.level">
                            {{lan.level}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div>英文程度：
                <mat-form-field class="languageop">
                    <mat-label>聽</mat-label>
                    <mat-select [(ngModel)]="seletcteL">
                        <mat-option *ngFor="let  lan  of Language" [value]="lan.level">
                            {{lan.level}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                &nbsp;
                <mat-form-field class="languageop">
                    <mat-label>說</mat-label>
                    <mat-select [(ngModel)]="seletcteS">
                        <mat-option *ngFor="let  lan  of Language" [value]="lan.level">
                            {{lan.level}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                &nbsp;
                <mat-form-field class="languageop">
                    <mat-label>讀</mat-label>
                    <mat-select [(ngModel)]="seletcteR">
                        <mat-option *ngFor="let  lan  of Language" [value]="lan.level">
                            {{lan.level}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                &nbsp;
                <mat-form-field class="languageop">
                    <mat-label>寫</mat-label>
                    <mat-select [(ngModel)]="seletcteW">
                        <mat-option *ngFor="let  lan  of Language" [value]="lan.level">
                            {{lan.level}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <span *ngIf="otherlans == false">
                    <button mat-icon-button class="btn-primary" (click)="addlanguage()">
                        <mat-icon>add_circle_outline</mat-icon>
                    </button>
                </span>
                <span *ngIf="otherlans">
                    <button mat-icon-button class="btn-warn" (click)="removelanguage()">
                        <mat-icon>remove_circle_outline</mat-icon>
                    </button>
                </span>
            </div>
            <div *ngIf="otherlans">
                <mat-form-field class="languageall">
                    <mat-label>其他外語</mat-label>
                    <mat-select [(ngModel)]="seletctL">
                        <mat-option *ngFor="let  lans  of Languages" [value]="lans.Language">
                            {{lans.Language}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                &nbsp;
                <mat-form-field class="languageop">
                    <mat-label>聽</mat-label>
                    <mat-select [(ngModel)]="seletctaL">
                        <mat-option *ngFor="let  lan  of Language" [value]="lan.level">
                            {{lan.level}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                &nbsp;
                <mat-form-field class="languageop">
                    <mat-label>說</mat-label>
                    <mat-select [(ngModel)]="seletctaS">
                        <mat-option *ngFor="let  lan  of Language" [value]="lan.level">
                            {{lan.level}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                &nbsp;
                <mat-form-field class="languageop">
                    <mat-label>讀</mat-label>
                    <mat-select [(ngModel)]="seletctaR">
                        <mat-option *ngFor="let  lan  of Language" [value]="lan.level">
                            {{lan.level}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                &nbsp;
                <mat-form-field class="languageop">
                    <mat-label>寫</mat-label>
                    <mat-select [(ngModel)]="seletctaW">
                        <mat-option *ngFor="let  lan  of Language" [value]="lan.level">
                            {{lan.level}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
    </mat-card-content>
</mat-card>
<br>
<mat-card>
    <mat-card-content>
        <div>
        專業證照：
            <mat-form-field floatLabel="never">
                <input matInput placeholder="請輸入與應徵職務類別之相關證照"  maxlength="25" [(ngModel)]="license">
            </mat-form-field>
            </div>
        <div>
            請檢附證明：
            <table>
                <td>
                    <div>
                        <!-- <div
                            ngfDrop
                            multiple         = "1"
                            selectable       = "1"
                            [(validDrag)]    = "validComboDrag"
                            [(files)]        = "files"
                            accept           = ".pdf"
                            [maxSize]        = "maxSize"
                            [(lastInvalids)] = "lastInvalids"
                            [(dragFiles)]    = "dragFiles"
                            [class.invalid-drag] = "validComboDrag===false"
                            [class.valid-drag]   = "validComboDrag"
                            (filesChange) = "lastFileAt=getDate()"
                            [fileDropDisabled] = "fileDropDisabled"
                            style="width:200px"
                        > -->
                            <!-- <div class= "dropimg" *ngIf="files.length === 0" > -->
                            <!-- <span class="droptext"><mat-icon>add</mat-icon></span> <br> -->
                            <span >請匯入證書PDF檔</span>
                            <!-- </div> -->
                            <input type="file" accept="application/pdf" placeholder="PDF" (change)="onSelectFile($event)" [(ngModel)]="licensefile">
                            <button mat-icon-button (click)="uploader()"><mat-icon>arrow_upward</mat-icon></button>
                            <!-- <div *ngFor="let item of files; let i = index" > -->
                                <!-- <div width="100">
                                    <div align="center"><img src="assets/image/pdf_icon.png" assept="img/*"></div>
                                    <div align="center">{{file.name}}</div>
                                </div> -->
                                <!-- <div *ngIf="['image/gif','image/png','image/jpeg'].indexOf(item.type)>=0">
                                    <img class="previewimg" *ngIf="slideimage"  [src]="slideimage" height="200" assept="img/*">
                                </div> -->
                            <!-- </div> -->
                        
                        <!-- </div> -->
                    </div>
                </td>
            </table>
        </div>
    </mat-card-content>
</mat-card>
<br>
<mat-card>
    <mat-card-content>
        <div>
        自傳：
        <br>
            <mat-form-field style="width: 80%" floatLabel="never">
                <textarea matInput #message placeholder="請輸入內容" [(ngModel)]="self"  
                cdkTextareaAutosize
                #autosize="cdkTextareaAutosize"
                maxlength="1500" 
                maxrows="20"
                ></textarea>
                <mat-hint align="end">{{message.value.length}} / 1500</mat-hint>
            </mat-form-field> 
        </div>
    </mat-card-content>
</mat-card>
<br>
<mat-card>
    <mat-card-content>
        <div>
        駕駛執照：
        </div>
        <div>
        自備交通工具：
            <mat-form-field floatLabel="never">
            <mat-label>交通工具</mat-label>
            <mat-select [(ngModel)]="tool">
                <mat-option *ngFor="let  Tra  of Trans" [value]="Tra.Trans">
                    {{Tra.Trans}}
                </mat-option>
            </mat-select>
            </mat-form-field>
        </div>
    </mat-card-content>
</mat-card>
<br>
<mat-card>
    <mat-card-content>
        <div>引薦人姓名：
            <mat-form-field floatLabel="never">
            <input matInput placeholder="請輸入引薦人姓名" [(ngModel)]="recommendN" maxlength="10">
            </mat-form-field>
        </div>
        <div>引薦人服務單位與職稱：
            <mat-form-field floatLabel="never">
            <input matInput placeholder="請輸入引薦人服務單位"  maxlength="10"  [(ngModel)]="recommendP">
            </mat-form-field>
        </div>
        <div>引薦人電話：
            <mat-form-field class="phone">
                <input matInput id="recommendNum" name="recommendNum" type="tel" οninput="value=value.replace(/[^\d]/g,'')" [(ngModel)]="recommendc">
            </mat-form-field>
        </div>
    </mat-card-content>
    <mat-card-actions>
        <div align="end">
            <button mat-button align="end" (click)="submit()" class="btn-primary">Save</button>
        </div>
    </mat-card-actions>
</mat-card>
