<h1>履歷表</h1>
    <!-- 姓 名：<input type="text" name="name" size="20"><br><br> -->
    <div> 姓氏：
        <mat-form-field>
           <input matInput placeholder="請輸入您的姓氏" [(ngModel)]="familyname" maxlength="5">
        </mat-form-field>
         名字：
        <mat-form-field>
           <input matInput placeholder="請輸入您的名字" [(ngModel)]="givenname" maxlength="5">
        </mat-form-field>
    </div>
    <div> 性 別：
        <mat-radio-group aria-label="Select an option" [(ngModel)]="gender">
          <mat-radio-button value="男">男</mat-radio-button>
          <mat-radio-button value="女">女</mat-radio-button>
        </mat-radio-group>
    </div>

    <div>生 日：
        <mat-form-field>
            <input matInput [matDatepicker]="picker" placeholder="請選擇您的生日" [max]="maxDate" [min]="minDate" [(ngModel)]="brdate">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker [startAt]="startDate"></mat-datepicker>
        </mat-form-field>
    </div>
    <div>Email：
        <mat-form-field>
            <input matInput placeholder="Email" [(ngModel)]="email" [formControl]="emailFormControl" maxlength="100" >
            <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
                Please enter a valid email address
            </mat-error>
            <mat-error *ngIf="emailFormControl.hasError('required')">
                Email is <strong>required</strong>
            </mat-error>
        </mat-form-field> 
    </div>
    <div>手 機：
        <mat-form-field class="example-full-width">
            <span matPrefix>+86 &nbsp;</span>
            <input type="tel" matInput placeholder="Telephone" maxlength="10">
            <mat-icon matSuffix>mode_edit</mat-icon>
        </mat-form-field>
    </div>
    <div>地址： 
        <ng-container *ngIf="seletctareadata">
            <span>{{seletctareadata}}</span>&nbsp;
        </ng-container>
        
        <mat-form-field class="addselect">
            <mat-label>縣市</mat-label>
            <mat-select [(ngModel)]="seletctcitydata">
                <mat-option *ngFor="let city of allcity" [value]="city.countycode" (click)="getAreaData(seletctcitydata)">
                    <!-- <button mat-button (click)="getAreaData()"></button> -->
                    {{city.countyname}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        &nbsp;
        <mat-form-field class="addselect">
            <mat-label>區域</mat-label>
            <mat-select [(ngModel)]="seletctareadata">
                <mat-option *ngFor="let area of allarea" [value]="area.towncode">
                    {{area.townname}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        &nbsp;
        <mat-form-field class="addinput">
            <input matInput placeholder="地址">
        </mat-form-field>
    </div>
    學  歷：
	<mat-form-field class="eduselect">
        <mat-label>學歷</mat-label>
        <mat-select [(ngModel)]="seletctedudata">
            <mat-option *ngFor="let edu of education" [value]="edu.row">
                {{edu.education}}
            </mat-option>
        </mat-select>
    </mat-form-field>
        <!-- 希望薪資：
            <input type="text" name="mo" size="10"><br>
            <input type="radio" name="money" value="Negotiable">面議
            <input type="radio" name="money2" value="per">依公司規定
        <input type="submit" value="儲存"/> -->
        