<h1>Login</h1>
    <table>
        <tr><td>
            <span class="font">*</span>
            帳號(E-mail)：
        </td>
        <td>
            <mat-form-field>
                <input matInput placeholder="請輸入E-mail" [(ngModel)]="account">
            </mat-form-field>
        </td></tr>
        <tr><td>
            <span class="font">*</span>
            密碼：
        </td>
        <td>
            <mat-form-field>
                <input matInput placeholder="請輸入密碼" [(ngModel)]="password">
            </mat-form-field>
        </td></tr>
    </table>
<div style="text-align: end">
    <button mat-button (click)="login()" [(disabled)]="!account || !password" class="btn-login">登入</button>&nbsp;|
    <button mat-button (click)="opendialog()" class="btn-create">註冊</button>
</div>
    {{account}}{{password}}
    {{addaccount}}{{addpassword}}{{repassword}}{{staffnum}}