<html>

<body background="https://images.pexels.com/photos/936722/pexels-photo-936722.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940">
    <br>
    <br>
    <br>
    <br><br><br>
    <div class="body">
    <br>
    <h1>Login</h1>
    <table>
            <tr>
                <td>
                <mat-radio-group aria-label="Select an option" [(ngModel)]="usertype">
                    <mat-radio-button color="primary"  value="interviewer">公司使用者</mat-radio-button>&nbsp;
                    <mat-radio-button color="primary"  value="interviewee">面試者</mat-radio-button>
                </mat-radio-group>
                </td>
            </tr>
                      <tr><td height="30%">&nbsp;</td></tr>
            <tr>
                <td>
                        <input name="account" matInput placeholder="請輸入E-mail" [(ngModel)]="account">
                </td>
            </tr>
            <tr>
                <td>
                        <input name="password" matInput type="password" placeholder="請輸入密碼" [(ngModel)]="password">
                </td>
            </tr>
            <tr><td height="30%">&nbsp;</td></tr>
            <tr>
                <td>
                <div style="text-align: end">
                        <button mat-button (click)="login()" [(disabled)]="!account || !password" color=#FFF class="btn-primary" type="submit">登入</button>
                </div> 
                </td>
            </tr>
            <tr>
                <td>  
                <div style="text-align: end">
                        <button mat-button (click)="opendialog()" color=#FFF class="btn-warn">註冊</button>
                </div>
                </td>
            </tr>
    </table>
</div>
<br><br><br><br><br><br><br><br><br><br>
</body>
</html>