<div class="body">
    <h1>Login</h1>
    <table>
        <td>
            <tr><td>
                <span class="font">*</span>
                帳號(E-mail)：
            </td>
            <td>
                <mat-form-field>
                    <input name="account" matInput placeholder="請輸入E-mail" [(ngModel)]="account">
                </mat-form-field>
            </td></tr>
            <tr><td>
                <span class="font">*</span>
                密碼：
            </td><td>
                <mat-form-field>
                    <input name="password" matInput type="password" placeholder="請輸入密碼" [(ngModel)]="password">
                </mat-form-field>
            </td></tr>
        </td>
        <td>
            <tr><td height="30%">&nbsp;</td></tr>
            <tr><td height="30%">&nbsp;</td></tr>
            <tr><td>
                <div style="text-align: end">
                        <button mat-button (click)="login()" [(disabled)]="!account || !password" color="primary" class="btn-primary" type="submit">登入</button>&nbsp;|
                        <button mat-button (click)="opendialog()" color="warn" class="btn-warn">註冊</button>
                </div>    
            </td></tr>
            
        </td>
    </table>
</div>
    {{account}}{{password}}
    {{addaccount}}{{addpassword}}{{repassword}}{{staffnum}}