
mat-dialog-actions {
    justify-content: flex-end;
}

mat-dialog-content {
    height: 600px;
}

.interviewer {
    width: 200px;
    height: 100px;
    border-style: dashed;
    border-radius: 10px;
    border-color:  rgba(255, 0, 0, 0.3);
    background-color: rgba(255, 0, 0, 0.1);
    color: rgba(0, 26, 255, 0.8);
    text-align: right;
}

.interviewee {
    width: 200px;
    height: 100px;
    border-style: dashed;
    border-radius: 10px;
    border-color:  rgba(0, 26, 255, 0.3);
    background-color: rgba(0, 26, 255, 0.1);
    color: rgba(255, 0, 0, 0.8);
    text-align: right;
}