th{
    font-size: 16px;
    font-weight:bold;
    background-color: rgba(211, 211, 211, 0.877);
    width:20%
}

td{
    text-align:left;
}
td:hover{
    background-color: rgba(235, 33, 33, 0.178);
    
    
}

table {
    width: 100%;
    padding:70px;
}