<div *ngFor="let condition of conditions; let idx = index" >
    <span>
        <mat-form-field>
                <mat-label>條件選擇</mat-label>
                <mat-select [(ngModel)]="condition.type" name="conditionSelection">
                  <mat-option *ngFor="let conType of conitionType" [value]="conType.value"  >
                    {{conType.viewValue}}
                  </mat-option>
                </mat-select>
                <mat-option  *ngIf="condition.type=='tacos-13'">
                <input  matInput name="condition_text" placeholder="請輸入自訂義項目" [(ngModel)]="condition.other" >
               </mat-option>
         </mat-form-field>
         
        
         
        <mat-form-field>
                <input matInput placeholder="內容" [(ngModel)]="condition.value">
            </mat-form-field>
        <button mat-icon-button color="warn" (click)="add()"><mat-icon>add_circle_outline</mat-icon></button>
        <button mat-icon-button color="primary" (click)="remove(idx)" [disabled]="conditions.length === 1"><mat-icon>remove_circle_outline</mat-icon></button>
    </span>
   
</div>
