/* .swiper{
    height: 250px;
    width: 80%;
    margin: auto;
} */
 
.swiper-slide{
    width: 100% !important; 
    height: 500px;
}

.swiper-container {
    /* position: absolute; */
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    
}

.content-container {
    position: relative;
  
    overflow: auto;
    margin: 8px 16px;
    border-radius: 4px;
  
    background-color: rgb(201, 201, 201);
}

.dropimg {
    height: 495px; 
    width: 600px; 
    /* background-color: rgba(151, 207, 245, 0.3); */
    background-image: url('../../../../assets/image/addlogo.jpg');
    text-align: center;
    line-height: 200px;
    color: rgb(194, 194, 194);
}
.dropimg:hover {
    /* background-color: rgba(151, 207, 245,0.6); */
    background-image: url('../../../../assets/image/hoveraddlogo.jpg');
    color: rgb(126, 126, 126);
    transition: 0s;
}

.previewimg {
    height: 495px; 
    width: 600px;
    /* text-align: center; */
}
.previewimg:hover {
    opacity: 0.5;
    transition: 0s;
}
