<div mat-dialog-title>
    <div class="titletext">內容編輯</div>
</div>
<div mat-dialog-content>
    <input type="file" (change)="imgupload($event)">
    <div *ngIf="slideimage">
        <div class="imaged">
            <div *ngIf="allimages.length > 0">
                <div *ngFor="let item of allimages; let index = index">
                    <div class="imagebtn" align="right"><button mat-icon-button class="deletebtn" (click)="deleteimg(index)"><mat-icon>cancel</mat-icon></button></div>
                    <img class="previewimg" [src]="item">
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="data.slideimage">
        <div class="imaged">
            <div class="imagebtn" align="right"><button mat-icon-button class="deletebtn" (click)="deleteimg(index)"><mat-icon>cancel</mat-icon></button></div>
            <div><img class="previewimg" [src]="data.slideimage"></div>
        </div>
    </div>
</div>
<mat-dialog-actions align="end">
    <button class="btn-warn" color="warn" mat-button (click)="cancel()">cancel</button>&nbsp;| 
    <button class="btn-primary" color="primary" mat-button (click)="confirm()" [(disabled)]="!isimg">confirm</button>
</mat-dialog-actions>
