<html>
<head>
<meta charset="UTF-8">
</head>
<body><h1>履歷表</h1>
    姓 名：<input type="text" name="name" size="20"><br><br>
        <form>
    性 別：
        <input type="radio" name="sex" value="boy">男
        <input type="radio" name="sex2" value="girl">女
        </form>
    生 日：<input type="date" name="bday"><br><br>
    Email：<input type="text" name="email" size="30"><br><br>
    手 機：<input type="text" name="phone" size="10"><Br><br>
    居住地區：
	<select name="aa">
		<option value="台北市">台北市</option>
		<option value="新北市">新北市</option>
		<option value="台中市">台中市</option>
		<option value="台南市">台南市</option>
    </select><br><br>
    學  歷：
	<select name="bb">
		<option value="博士">博士</option>
		<option value="碩士">碩士</option>
		<option value="大專">大專</option>
        <option value="四技">四技</option>
        <option value="二技">二技</option>
        <option value="二專">二專</option>
        <option value="三專">三專</option>
        <option value="五專">五專</option>
        <option value="高中">高中</option>
        <option value="高職">高職</option>
        <option value="國中(含)以下">國中(含)以下</option>
	</select><br><br>
    <form>
        最近工作：
            <input type="radio" name="job" value="yes">有
            <input type="radio" name="job2" value="no">無
            </form><br>
    <form>
        希望薪資：
            <input type="text" name="mo" size="10"><br>
            <input type="radio" name="money" value="Negotiable">面議
            <input type="radio" name="money2" value="per">依公司規定
             </form><br>
		<input type="submit" value="儲存"/>
</body>
</html>
