<div>
    <span>
        <label>職缺名稱： </label>
        <mat-form-field>
            <mat-label> 職缺名稱 </mat-label>
            <input matInput id="name" [(ngModel)]="name" >
        </mat-form-field>
        <button mat-icon-button color="warn" (click)="add()"><mat-icon>add_circle_outline</mat-icon></button>
        <button mat-icon-button color="primary" (click)="remove(index)" [disabled]="texts.length === 0"><mat-icon>remove_circle_outline</mat-icon></button>
    </span>
    <div *ngFor="let names of texts; let index of index">
        <label>職缺名稱： </label>
        <mat-form-field>
            <mat-label> 職缺名稱 </mat-label>
            <input matInput id="name" [(ngModel)]="name" >
        </mat-form-field>
    </div>
</div>

<div>
    <span>
        <label>連絡電話： </label>
        <mat-form-field>
            <mat-label> 連絡電話 </mat-label>
            <input matInput id="phonenumber" [(ngModel)]="phonenumber" >
        </mat-form-field>
        <button mat-icon-button color="warn" (click)="addnum()"><mat-icon>add_circle_outline</mat-icon></button>
        <button mat-icon-button color="primary" (click)="removenum(index)" [disabled]="textss.length === 0"><mat-icon>remove_circle_outline</mat-icon></button>
        </span>
        <div *ngFor="let nums of textss; let index of index">
            <label>連絡電話： </label>
            <mat-form-field>
                <mat-label> 連絡電話 </mat-label>
                <input matInput id="phonenumber" [(ngModel)]="phonenumber" >
            </mat-form-field>
        </div>
</div>